{% extends 'base.html.twig' %}

{% block title %}Liste des documents{% endblock %}

{% block body %}
<h1>{{ controller_name }}</h1>
{% for message in app.flashes('notice') %}
    <div class="flash-notice alert alert-dismissible alert-danger">
        {{ message }}
    </div>
{% endfor %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Type</th>
      <th scope="col">Nom</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
	{% for item in listeDocument %}
    <tr class="table">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.typeId.type }}</td>
      <td>{{ item.nom }}</td>
      <td>{{ item.createdAt|date("d-m-y") }}</td>
      <td> 
		<a href="/deleteDocument/{{ item.id }}">
			<i class="bi bi-trash"></i>
		</a>
		<a href="">
			<i class="bi bi-download"></i>
		</a>

		
	  </td>
    </tr>
	{% endfor %}
  </tbody>
</table>
{% endblock %}
