{% extends 'base.html.twig' %}

{% block title %}Upload Ged{% endblock %}

{% block body %}
<div class="example-wrapper">
	<h4> {{ controller_name }} </h4>
</div>
<form action="/insertGed" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>Formulaire d'upload</legend>
    <div class="form-group row">
      <label for="staticNom" class="col-sm-2 col-form-label">Genre</label>
      <div class="col-sm-10">
        <select class="form-group" name="genre">
			{% for item in listeGenre %}
				<option class="form-group" value= {{ item.id }}>{{ item.type }}</option>
			{% endfor %}
		</select>
      </div>
    </div>
	<div class="form-group row">
      <label for="staticPrenom" class="col-sm-2 col-form-label">Nom</label>
      <div class="col-sm-10">
        <input type="text" class="form-group" id="nom"required name="nom">
      </div>
    </div>
	<div class="form-group row">
      <label for="staticPrenom" class="col-sm-2 col-form-label">Document</label>
      <div class="col-sm-10">
        <input type="file" class="form-group" id="boutonParcourir" name="fichier">
      </div>
    </div>
	<div class="form-group row">
      <label for="staticPrenom" class="col-sm-2 col-form-label">Visible</label>
      <div class="col-sm-10">
        <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="" name="choix">
      <label class="custom-control-label" for="customSwitch1">Actif / Inactif</label>
    </div>
      </div>
    </div>
	<div class="form-group row">
      <label for="staticNom" class="col-sm-2 col-form-label">Autorisation</label>
      <div class="col-sm-10">
        <select class="form-group" name="autorisation">
			{% for item in listeAutorisation %}
				<option class="form-group" value= {{ item.id }}>
					{% if item.ecriture == 1 %} 
						Ecriture 
					{% endif %}
					{% if item.lecture == 1 %} 
						Lecture 
					{% else %}
						Fichier protégé
					{% endif %}
				</option>
			{% endfor %}
		</select>
      </div>
    </div>
	<div class="form-group row">
      <label for="staticNom" class="col-sm-2 col-form-label">Utilisateur</label>
      <div class="col-sm-10">
        <select class="form-group" name="utilisateur">
				<option class="form-group" value="-1"></option>
			{% for item in listeUsers %}
				<option class="form-group" value= {{ item.id }}>
					{{ item.nom }}  {{ item.prenom }}
				</option>
			{% endfor %}
		</select>
      </div>
    </div>
	</fieldset>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}
